@use './utils.scss';
@use './config.scss';
@use './scheme.scss';

$colors-misc: (
	color-shadow--soft: rgba(var(--color-shadow--rgb), 0.08),
	color-shadow--md: rgba(var(--color-shadow--rgb), 0.1),
	color-shadow: rgba(var(--color-shadow--rgb), 0.15),
	color-shadow--strong: rgba(var(--color-shadow--rgb), 0.2),
	color-border: rgba(var(--color-outline--rgb), 0.5),
	color-border--strong: var(--color-outline),
	color-wrapper: var(--color-outline)
) !default;

:root {
	@include utils.generate_colors(config.$prefix, scheme.$scheme-light);
	@include utils.add_prefix(config.$prefix, $colors-misc);
}

:root[data-theme='dark'] {
	@include utils.generate_colors(config.$prefix, scheme.$scheme-dark);
}
