@use './utils.scss';
@use './config.scss';
@use './scheme.scss';

$ext-colors-light: (
	color-info: #1a3baa,
	color-onInfo: #e2ffff,
	color-success: #2b5f50,
	color-onSuccess: #e8fef5,
	color-warning: #8a5a00,
	color-onWarning: #fff8ec
) !default;

$ext-colors-dark: (
	color-info: #008eff,
	color-onInfo: #101a3b,
	color-success: #9bdac7,
	color-onSuccess: #184d3a,
	color-warning: #bfa060,
	color-onWarning: #4a3700
) !default;

$colors-misc: (
	color-shadow--soft: rgba(var(--#{config.$prefix}color-shadow--rgb), 0.1),
	color-shadow--md: rgba(var(--#{config.$prefix}color-shadow--rgb), 0.15),
	color-shadow--strong: rgba(var(--#{config.$prefix}color-shadow--rgb), 0.2),
	color-border: rgba(var(--#{config.$prefix}color-outline--rgb), 0.5),
	color-border--strong: rgba(var(--#{config.$prefix}color-outline--rgb), 0.8),
	color-wrapper: var(--#{config.$prefix}color-outline)
) !default;

:root {
	@include utils.generate_colors(config.$prefix, scheme.$scheme-light);
	@include utils.generate_colors(config.$prefix, $ext-colors-light);
	@include utils.add_prefix(config.$prefix, $colors-misc);
	color-scheme: light;
}

:root[data-theme='dark'] {
	@include utils.generate_colors(config.$prefix, scheme.$scheme-dark);
	@include utils.generate_colors(config.$prefix, $ext-colors-dark);
	color-scheme: dark;
}
