@use './utils.scss';
@use './config.scss';
@use './scheme.scss';

$ext-colors-light: (
	color-info: #e2ffff,
	color-onInfo: #1a3baa,
	color-success: #e8fef5,
	color-onSuccess: #2b5f50,
	color-warning: #fff8ec,
	color-onWarning: #8a5a00
) !default;

$ext-colors-dark: (
	color-info: #101a3b,
	color-onInfo: #008eff,
	color-success: #184d3a,
	color-onSuccess: #9bdac7,
	color-warning: #4a3700,
	color-onWarning: #bfa060
) !default;

$colors-misc: (
	color-shadow--soft: rgba(var(--#{config.$prefix}color-shadow--rgb), 0.1),
	color-shadow--md: rgba(var(--#{config.$prefix}color-shadow--rgb), 0.15),
	color-shadow--strong: rgba(var(--#{config.$prefix}color-shadow--rgb), 0.2),
	color-border: rgba(var(--#{config.$prefix}color-outline--rgb), 0.8),
	color-border--strong: var(--#{config.$prefix}color-outline),
	color-wrapper: var(--#{config.$prefix}color-outline)
) !default;

:root {
	@include utils.generate_colors(config.$prefix, scheme.$scheme-light);
	@include utils.generate_colors(config.$prefix, $ext-colors-light);
	@include utils.add_prefix(config.$prefix, $colors-misc);
}

:root[data-theme='dark'] {
	@include utils.generate_colors(config.$prefix, scheme.$scheme-dark);
	@include utils.generate_colors(config.$prefix, $ext-colors-dark);
}
